nav.site-navigation
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li 
      a(data-scroll, href="#main") Home
    li 
      a(data-scroll, href="#about") About
    li 
      a(data-scroll, href="#about") Register
    li 
      a(data-scroll, href="#ksum-footer") Contact
    