@import "./mixins";
#slider-section {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    background-color: rgba(14, 8, 31, .8);
    content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  #info-container {
    position: absolute;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 60px;
      @include my_bp(sm) {
        font-size: 80px;
      }
    }
  }
  img.slide {
    height: 100vh;
    width: auto;
    @include my_bp(sm) {
      height: auto;
      width: 100vw;
    }
  }
}

.header-menu {
  padding: 10px;
  .logos {
    text-align: center;
    img {
      width: 30%;
      @include my_bp(sm) {
        width: 15%;
      }
    }
  }
}

.main-menu {
  padding: 20px;
  border-top: 4px solid #f7c0a9;
  h1 {
    text-align: center;
  }
  ul {
    list-style: none;
    display: none;
    justify-content: center;
    margin: 0;
    padding: 10px;
    @include my_bp(sm) {
      display: flex;
    }
    li {
      a {
        padding: 10px 15px;
        margin: 0px 5px;
        color: #2f3b5c;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.3s ease;
        &:hover {
          text-decoration: none;
          background-color: #f9d99f;
          border-radius: 60px;
        }
      }
    }
  }
}

.slider {
  padding: 0 20px 20px 20px;
  @include my_bp(sm) {
    padding: 0 50px 50px 50px;
  }
}

.about {
  padding: 20px;
  margin-top: 70px;
  border-top: 4px solid #f7c0a9;
  @include my_bp(sm) {
    padding: 50px;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    text-align: justify;
    line-height: 2;
  }
  a.button {
    background: #f7c0a9;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: all .5s ease;
    text-align: center;
    margin-top: 25px;
    display: inline-block;
    &:hover {
      text-decoration: none;
      background: #c78f77;
    }
  }
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 50px;
  .location-item {
    width: 90%;
    text-align: center;
    margin-bottom: 15px;
    @include my_bp(sm) {
      width: 30%;
    }
    p {
      &:first-of-type {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
    a.button {
      background: #f7c0a9;
      border-radius: 50px;
      color: white;
      font-weight: bold;
      padding: 10px 15px;
      transition: all .5s ease;
      &:hover {
        text-decoration: none;
        background: #c78f77;
      }
    }
  }
}

.should {
  padding: 20px;
  margin-top: 70px;
  border-top: 4px solid #f7c0a9;
  @include my_bp(sm) {
    padding: 50px;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    text-align: justify;
    // line-height: 2;
  }
  li {
    text-align: justify;
  }
}

.benefits {
  padding: 20px;
  margin-top: 70px;
  border-top: 4px solid #f7c0a9;
  @include my_bp(sm) {
    padding: 50px;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    text-align: justify;
    // line-height: 2;
  }
  li {
    text-align: justify;
  }
}

#timeline {
  margin-top: 70px;
  // border-top: 4px solid #f7c0a9;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    text-align: justify;
    // line-height: 2;
  }
  li {
    text-align: justify;
  }
  .timeline {
    display: flex;
    flex-wrap: wrap;
    .date {
      padding: 10px;
      width: 100%;
      @include my_bp(sm) {
        width: 50%;
      }
      .time {
        background: #f7c0a9;
        padding: 10px 10px 10px 15px;
        font-weight: bold;
      }
      .items {
        padding: 15px 5px;
        display: flex;
        flex-wrap: wrap;
        .item {
          width: 45%;
          padding: 10px;
          border-top: 4px solid #f7c0a9;
          background: white;
          margin: 10px;
          h3 {
            font-size: 1.5rem;
          }
          .speakers {
            display: flex;
            flex-wrap: wrap;
            .speaker {
              width: 50%;
              padding: 5px;
              display: flex;
              flex-direction: column;
              align-items: center;
              img {
                max-width: 100%;
                width: 75px;
                border-radius: 50%;
                box-shadow: 2px 2px 0px #f7c0a9;
              }
              h4 {
                font-size: 1.2rem;
                margin-top: 10px;
                text-align: center;
              }
              p {
                font-size: 1rem;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

#testimonial {
  margin-top: 50px;
  // border-top: 4px solid #f7c0a9;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    text-align: justify;
    // line-height: 2;
  }
  li {
    text-align: justify;
  }
  .testimonials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .testimonial {
      width: 100%;
      padding: 10px;
      margin: 10px;
      background: white;
      border-top: 4px solid #f7c0a9;
      @include my_bp(sm) {
        width: 45%;
      }
      p {
        font-size: 1.5rem;
      }
      .descp {
        text-align: center;
        padding-bottom: 15px;
        p {
          font-size: 1.2rem;
          text-align: right;
          margin: 0;
        }
      }
    }
  }
}

#ksum-footer {
  background: white;
  border-top: 4px solid #f7c0a9;
  margin-top: 50px;
  p {
    color: #2f3b5c !important;
  }
  .phone {
    div {
      color: #2f3b5c !important;
    }
  }
}

#ksum-copy {
  background: #f7c0a9;
  p {
    color: #2f3b5c;
  }
}