doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  link(rel="stylesheet", href="./css/slider.scss")
  body

    include parts/menu.pug
    include parts/mixin.pug

    //- a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    //- section#slider-section
    //-   img.slide(src="./img/slider.jpg")
    //-   .container#info-container
    //-     .row
    //-       .col-sm-12
    //-         h1 India's First
    //-         h2 Non-Academic 
    //-         h2 Business Incubator

    .container
      .header-menu
        .logos
          img(src="./img/ksum.png") 
          img(src="./img/wadhwani.png")

      .bg-white#main
        .main-menu
          h1 SCALATHON
          ul
            li 
              a(data-scroll, href="#main") Home
            li 
              a(data-scroll, href="#about") About
            li 
              a(data-scroll, href="#about") Register
            li 
              a(data-scroll, href="#ksum-footer") Contact

        .slider
          img.img-fluid(src="./img/slider2.jpg")
          img.img-fluid(src="./img/slider1.jpg")


      .bg-white#about
        .about
          h1 About
          .row
            .col-sm-8
              p The SCALATHON under Wadhwani Advantage program is a unique result-oriented initiative for small and medium enterprises who are looking to rapidly grow and scale their business. Strategic advisers, coaches, and investors from various parts of the country provides mentorship to Small and Medium Enterprises (SMEs) with Annual Revenue between Rs. 5Cr – 350 Cr+  who participate in SCALATHON. Those with revenue less than 5Cr and greater than 350Cr were also encouraged to apply, especially if their businesses are growing rapidly, have significant job creation potential or are run by women entrepreneurs.
              p Kerala Startup Mission in association with Wadhwani Foundation is having a workshop, “SCALATHON”- 'Unleashing Hyper Growth in SMEs' in association with other Industry leads to enable the growth of Small and Medium Enterprises (SMEs) who play major role in creating growth and employment opportunities to scale their business.
            .col-sm-4.text-center
              +youtube("-7DQdAP8xUc")
              a.button(href="#") Brochure

        .locations
          .location-item
            img.img-fluid(src="./img/slider0.jpg")
            p Cochin
            p (Event Closed)
          .location-item
            img.img-fluid(src="./img/slider1.jpg")
            p Calicut
            p 24th March 2020
            a.button(target="_blank" href="https://in.explara.com/e/scalathon-calicut") Register Now
          .location-item
            img.img-fluid(src="./img/slider2.jpg")
            p Palakkad
            p 25th March 2020
            a.button(target="_blank" href="https://in.explara.com/e/scalathon-palakkad") Register Now

      .bg-white#who
        .should
          h1 Who Should Attend?
          .row
            .col-sm-4 
              p Enterprises who wish to grow exponentially in the next twelve months, with the following requirements:
              ul 
                li Annual Revenue above 5Crs
                li In an industry that has a significant labor component such as manufacturing, hospitality, healthcare, retail etc.
            .col-sm-4
              p Those would like to understand the below can be part of SCALATHON
              ul
                li How should you expand your business in India and abroad?
                li How should you increase your customer base?
                li How should you get advice on product innovation?
                li How can you rapidly grow your business in the next few years?
                li Startups who are having solutions that supports SME - 
                  a.button(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfElebPp_Yhqptc57myfUNKeTl5BJ51I4ToJnEUBQnf9_7Hrw/viewform?vc=0&c=0&w=1") Apply Now
            .col-sm-4
              p You must attend if the answers to the below questions are “NO”
              ul
                li Are you operating your business at its full potential?
                li Are you confident of achieving hyper growth in the next few years?
                li Do you have access to top notch advisors and consultants to help you chart out your growth plans?
                li Do you have access to good, affordable service providers like lawyers, accountants, recruiters, website developers?

      .bg-white#benefits
        .benefits
          h1 Benefits/Outcomes
          p We provide a one-on-one consultation with our advisors/consultants who will conduct a deep diagnosis of your business and recommend appropriate growth initiatives to help you scale rapidly
          p The consultants will help you:
          ul
            li Prioritize your growth initiatives
            li Design a customized transformation plan
            li Assist in execution of the transformation plan
            li Monitor and measure results
          p Also a mentor will be available to guide you as you embark on your growth journey.
    
      #timeline
        h1 Timeline
        .timeline
          .date
            .time 03:30
            .items
              .item
                h3 Introduction
                .speakers
                  .speaker
                    img(src="./img/dp.jpg")
                    h4 PM Riyas
                    p Project Director, KSUM
                  .speaker
                    img(src="./img/dp.jpg")
                    h4 Rahul Savoor
          .date
            .time 4:00
            .items
              .item
                h3 Expert Speaker Session
              .item
                h3 5 shortlisted entrepreneurs for 1x1 session
          .date
            .time 4:30
            .items
              .item
                h3 Expert Speaker Session
              .item
                h3 next 5 shortlisted entrepreneurs for 1x1 session
          .date
            .time 5:00
            .items
              .item
                h3 Tea and Networking
              .item
                h3 next 5 shortlisted entrepreneurs for 1x1 session
          .date
            .time 5:30
            .items
              .item
                h3 next 5 shortlisted entrepreneurs for 1x1 session

      #testimonial.d-none
        h1 Testimonials
        .testimonials
          .testimonial
            p “If Wadhwani Foundation was not there, we would not have “accelerated”. It would have taken us 3 years instead of 3 months to make the changes”
            .descp
              p Dr. Ramnath Babu
              p Co-founder & Director
              p SpOvum Technologies Pvt Ltd
          .testimonial
            p “The Wadhwani Advantage has been instrumental in setting up processes and creating frameworks for us. The mentor support we received helped us address our branding challenge”
            .descp
              p Maulick Mistry
              p Co-Founder & CEO
              p Mojo Bars
    
      include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
